<form action="/asignatura/agregar" method="POST">
  <div>
    <label for="nombre"> Escribe tu Asignatura:</label>
    <input type="text" name="nombre" placeholder="Name" id="nombre" />
  </div>
  <div>
    <label for="creditos">Escribe los creditos:</label>
    <input type="text" name="creditos" placeholder="Credits" id="creditos" />

  </div>
  <div>
    <label for="horas">Escribe las horas:</label>
    <input type="text" name="horas" placeholder="hours" id="horas"/>
  </div>
   <button>Agregar</button> 
</form>